[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
django-crispy-forms = "*"
psycopg2 = "*"
six = "*"
pillow = "*"

[dev-packages]
autopep8 = "*"
six = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
