[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
psycopg2 = "*"
pillow = "*"
django-taggit = "*"
django-ckeditor = "*"
django-widget-tweaks = "*"
django-allauth = "*"
install = "*"
django-comments-dab = "*"

[dev-packages]
autopep8 = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
