{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content %}

  <div class="input-group mb-3 search-bar">
    <input type="text" class="form-control border-2 border-secondary rounded-3" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"/>
  </div>
  <div class="row my-4">
    <div class="col-6"><h3>All Questions</h3></div>
    <div class="col-6 d-flex justify-content-end"><button href="" class="btn btn-primary">
      Ask Question
    </button></div>       
  </div>
  <div class="row my-3">
    <div class="col-md-4">
      <p>87409 Questions</p>
    </div>
    <div class="col-md-8 text-lg-end col-sm-12 text-sm-center">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-secondary">Newest</button>
        <button type="button" class="btn btn-outline-secondary">Top</button>
        <button type="button" class="btn btn-outline-secondary">Right</button>
        <button type="button" class="btn btn-outline-secondary">Views</button>
        <button type="button" class="btn btn-outline-secondary">Oldest</button>
      </div>
    </div>
  </div>
  {% for question in questions %} 
  <div class="card py-3 px-1 my-3">
    <div class="row d-flex align-items-center">
      <div class="col-2 text-center">
        <div><strong>4</strong></div>
        <div>
          <p>Votes</p>
        </div>
        <div><strong>4</strong></div>
        <div class="mt-2">
          <p>Answers</p>
        </div>
      </div>
      <div class="col-10">
        <a href="{% url 'question:question-detail' question.id %}">
          <h4>
            {{question.title}}
          </h4>
        </a>
        <p class="question-paragraph">
          {{ question.description|safe|striptags|truncatechars:50 }}
        </p>
        <div class="row">
          <div class="col-md-12 d-inline-flex">
            {% for tag in question.tags.all %}
            <h5><span class="badge bg-primary me-2">{{ tag.name}}</span></h5>                
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if questions.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if questions.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ questions.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in questions.paginator.page_range %}
            {% if questions.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > questions.number|add:'-5' and i < questions.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if questions.paginator.num_pages > questions.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ questions.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if questions.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->
{% endblock content %}