{% extends 'base.html' %}
{% load humanize %}
{% load comments %}

{% block messages %}

{% endblock messages %}


{% block left_sidebar %}
{% include 'includes/left_sidebar.html' %}
{% endblock left_sidebar %}

{% block center %}
  <div class="row">
    <div class="col-9 d-block">
      <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
      <p>Asked {{ object.date_published | naturaltime }}</p>
    </div>
    {% endfor %}
    <hr>
    <p>{{ object.description | safe | linebreaks }}</p>

  </div>
{% endblock center %}

{% block right_sidebar %}
{% include 'includes/right_sidebar.html' %}
{% endblock right_sidebar %}
