{% extends 'base.html'%}
{% load static %}

{% block title %} Create Question {% endblock title %}
{% block messages %}

{% endblock messages %}

{% block content %}
<div class="col-md-2">
  {% include 'includes/left_sidebar.html' %}
</div>
<div class="col-md-7">
  <div class="question-section">
    <div class="row">
      <form method="POST">
        {% csrf_token %}
        {{form.media}}
        {% include 'includes/b5_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Post Your Question</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-3">
  {% include 'includes/right_sidebar.html' %}
</div>
{% endblock content  %}

