{% extends 'base.html'%}
{% load static %}

{% block title %} Make It Work, make it Right, Make it Fast {% endblock title %}
{% block messages %}

{% endblock messages %}

{% block left_sidebar %}
{% include 'includes/left_sidebar.html' %}
{% endblock left_sidebar %}
{% block center%}
<div class="question-section">
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      {{form.media}}
      {% include 'includes/b5_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Post Your Question</button>
    </form>
  </div>
</div>
{% endblock center %}
{% block right_sidebar %}
{% include 'includes/right_sidebar.html' %}
{% endblock right_sidebar %}
