<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Pride</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous" />
  </head>

  <body>
    <header class="sticky-top shadow">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../static/images/logo.png" alt="Coding Pride Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-lg-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="" class="nav-link mb-2 mx-lg-2 bg-secondary text-light rounded-3 px-3">Login</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link btn-primary text-light rounded-3 px-3">Signup</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-2 left-sidebar">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item mb-1 rounded-end">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item mb-1">
              <a class="nav-link" href="#">Tags</a>
            </li>
            <li class="nav-item mb-1">
              <a class="nav-link" href="#">Jobs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-group mb-3 search-bar">
            <input type="text" class="form-control border-2 border-secondary rounded-3" placeholder="&#xF002; Search" />
          </div>
          <div class="row my-4">
            <div class="d-flex justify-content-between align-items-center">
              <h3>All Questions</h3>
              <a href="" class="btn btn-primary">
                Ask Question
              </a>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-4">
              <p>87409 Questions</p>
            </div>
            <div class="col-md-8 text-lg-end col-sm-12">
              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-secondary">Newest</button>
                <button type="button" class="btn btn-outline-secondary">Top</button>
                <button type="button" class="btn btn-outline-secondary">Right</button>
                <button type="button" class="btn btn-outline-secondary">Views</button>
                <button type="button" class="btn btn-outline-secondary">Oldest</button>
              </div>
            </div>
          </div>
          <div class="card py-3 px-1 my-3">
            <div class="row d-flex align-items-center">
              <div class="col-2 text-center">
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Votes</p>
                </div>
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Answers</p>
                </div>
              </div>
              <div class="col-10">
                <a href="">
                  <h4>
                    How to build 3D cube that is 50% transparent. and a small circle inside it?
                  </h4>
                </a>
                <p class="question-paragraph">
                  I have a code in that I am able to develop 3D cube that can be rotated byswiping. My requirement is :
                  I
                  want to build 3d cube with all side walls with one color and top and bottom with one
                  color and...
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" class="tag">
                      Django
                    </a>
                    <a href="" class="tag">
                      Python
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card py-3 px-1 mt-3">
            <div class="row d-flex align-items-center">
              <div class="col-2 text-center">
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Votes</p>
                </div>
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Answers</p>
                </div>
              </div>
              <div class="col-10">
                <a href="">
                  <h4>
                    How to build 3D cube that is 50% transparent. and a small circle inside it?
                  </h4>
                </a>
                <p class="question-paragraph">
                  I have a code in that I am able to develop 3D cube that can be rotated byswiping. My requirement is :
                  I
                  want to build 3d cube with all side walls with one color and top and bottom with one
                  color and...
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" class="tag">
                      Django
                    </a>
                    <a href="" class="tag">
                      Python
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card py-3 px-1 mt-3">
            <div class="row d-flex align-items-center">
              <div class="col-2 text-center">
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Votes</p>
                </div>
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Answers</p>
                </div>
              </div>
              <div class="col-10">
                <a href="">
                  <h4>
                    How to build 3D cube that is 50% transparent. and a small circle inside it?
                  </h4>
                </a>
                <p class="question-paragraph">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto architecto, animi commodi consequuntur
                  dolorum quidem delectus unde dignissimos suscipit tempora molestiae autem natus repellendus, obcaecati
                  ad laborum nemo incidunt doloribus?
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" class="tag">
                      Django
                    </a>
                    <a href="" class="tag">
                      Python
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card py-3 px-1 mt-3">
            <div class="row d-flex align-items-center">
              <div class="col-2 text-center">
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Votes</p>
                </div>
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Answers</p>
                </div>
              </div>
              <div class="col-10">
                <a href="">
                  <h4>
                    How to build 3D cube that is 50% transparent. and a small circle inside it?
                  </h4>
                </a>
                <p class="question-paragraph">
                  I have a code in that I am able to develop 3D cube that can be rotated byswiping. My requirement is :
                  I
                  want to build 3d cube with all side walls with one color and top and bottom with one
                  color and...
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" class="tag">
                      Django
                    </a>
                    <a href="" class="tag">
                      Python
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card py-3 px-1 mt-3">
            <div class="row d-flex align-items-center">
              <div class="col-2 text-center">
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Votes</p>
                </div>
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Answers</p>
                </div>
              </div>
              <div class="col-10">
                <a href="">
                  <h4>
                    How to build 3D cube that is 50% transparent. and a small circle inside it?
                  </h4>
                </a>
                <p class="question-paragraph">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, qui! Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                  quod molestiae repudiandae. Aliquam omnis molestias minima vel enim labore sed asperiores, sunt
                  dignissimos pariatur earum, ut nesciunt repellat accusamus dolores ratione ipsam maiores rem libero
                  quasi quod! Culpa quasi explicabo magnam atque ipsam unde debitis itaque! Itaque, asperiores magnam
                  illum animi ab fuga corporis cum. Tenetur quos dolore laboriosam. Saepe, laudantium? Atque vel, ipsa
                  nostrum mollitia maxime assumenda ipsum minus?
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" class="tag">
                      Django
                    </a>
                    <a href="" class="tag">
                      Python
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card py-3 px-1 mt-3">
            <div class="row d-flex align-items-center">
              <div class="col-2 text-center">
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Votes</p>
                </div>
                <div class="counter"><strong>4</strong></div>
                <div class="mt-2">
                  <p>Answers</p>
                </div>
              </div>
              <div class="col-10">
                <a href="">
                  <h4>
                    How to build 3D cube that is 50% transparent. and a small circle inside it?
                  </h4>
                </a>
                <p class="question-paragraph">
                  I have a code in that I am able to develop 3D cube that can be rotated byswiping. My requirement is :
                  I
                  want to build 3d cube with all side walls with one color and top and bottom with one
                  color and...
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" class="tag">
                      Django
                    </a>
                    <a href="" class="tag">
                      Python
                    </a>
                    <a href="" class="tag">
                      Angular
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="logged-user">
            <h3>Logged In User</h3>
          </div>

          <div class="card rounded-top rounded-3 mb-5">
            <img src="../static/profile_pictures/default.jpg" class="card-img-top" alt="User Profile Picture">
            <div class="card-body text-center">
              <h5 class="card-title">Username</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
              <a href="#" class="btn btn-primary">Change Password</a>
            </div>
          </div>
          <h4>Hot Network Questions</h4>
          <div class="hot-questions-section my-4">
            <a href="">
              <p>
                Is it wrong to demand features in open-source
              </p>
            </a>
            <a href="">
              <p>
                Is it wrong to demand features in open-source
              </p>
            </a>
            <a href="">
              <p>
                Is it wrong to demand features in open-source
              </p>
            </a>
            <a href="">
              <p>
                Is it wrong to demand features in open-source
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-dark text-light py-4">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <p class="copyright">
            &copy; Copyright
            <script>document.write(new Date().getFullYear())</script> - <a href="/" class="text-light">CodingPride</a>

          </p>
          <div class="social-links">
            <a href="#">
              <i class="fab fa-github-square fa-2x"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
            <a href="#">
              <i class="fab fa-youtube-square fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
