a {
    text-decoration: none;
}

.btn-primary,
.bg-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #009999;
}

.btn-primary {
    border: none;
}

.bg-primary,
.btn-primary:hover {
    opacity: 0.9;
}

.nav-pills .nav-item .active {
    background: #009999;
}

.left-sidebar {
    position: sticky;
    top: 6rem;
    height: 30vh;
}

@media(max-width:768px) {
    .left-sidebar {
        display: none;
    }
}

.tag {
    background-color: #ccc;
    font-size: .9rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin: 0.4rem 0.4rem 0.4rem 0;
}

.social-links a {
    text-decoration: none;
}

.social-links .fab {
    width: 50px;
    color: #fff;
}
