{% load static %}
   <!--    footer -->
   <footer class="bg-secondary text-light py-4">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <p class="copyright">
          &copy; Copyright
          <script>document.write(new Date().getFullYear())</script> - <a href="/" class="text-light">CodingPride</a>

        </p>
        <div class="social-links">
          <a href="#">
            <i class="fab fa-github-square fa-2x"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube-square fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
