   {% load static %} 
    <nav class="navbar navbar-light sticky-top flex-md-nowrap p-0
    navbar-expand-lg custom-border-top">
      <div class="container-fluid">  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand desktop-logo" href="/"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
        
        <a class="navbar-brand mobile-logo" href="#"><img src="{% static 'images/logo-mobile-2.png' %}" alt="Logo"></a>

        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navibar-nav-items">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Team</a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="" href="{% url 'accounts:login' %}"><button class="btn btn-outline-dark">Login</button></a>
            <a class="" href="{% url 'accounts:accounts_register' %}"><button class="btn btn-primary">Signup</button></a>
          </li>
        </ul>
      </div>
    </nav>

    
    
    
