   {% load static %}       
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-md-top">
        <div class="container-fluid">           
            <a class="navbar-brand desktop-logo" href="#"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
            <a class="navbar-brand mobile-logo" href="#"><img src="{% static 'images/logo-mobile.png' %}" alt="Logo"></a>  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navibar-nav-items">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Team</a>
              </li>
            </ul>
            <form class="d-flex navibar-search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="navibar-button">
                <a href="http://"><button class="btn btn-outline-dark">Login</button></a>
                <a href="http://"><button class="btn btn-outline-dark">Signup</button></a>
            </div>
          </div>
        </div>
      </nav>

    
    
    
