

<div id="sideBarNav" class="col-md-2 d-md-block bg-light left-sidebar collapse border-end">
    <ul class="nav flex-column nav-pills sidebar_sticky">
      <li class="nav-item mb-1 rounded-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item mb-1">
        <a class="nav-link" href="#">Tags</a>
      </li>
      <li class="nav-item mb-1">
        <a class="nav-link" href="#">Jobs</a>
      </li>     
      <li class="nav-item d-sm-block d-md-none">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item d-sm-block d-md-none">
        <a class="nav-link" href="#">Contact</a>
      </li>   
    </ul>
  </div>