<div class="col-md-3">
    <div class="logged-user">
      <h3>Logged In User</h3>
    </div>

    <div class="card rounded-top rounded-3 mb-5">
      <img src="../static/profile_pictures/default.jpg" class="card-img-top" alt="User Profile Picture">
      <div class="card-body text-center">
        <h5 class="card-title">Username</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a href="#" class="btn btn-primary">Change Password</a>
      </div>
    </div>
    <h4>Hot Network Questions</h4>
    <div class="hot-questions-section my-4">
      <a href="">
        <p>
          Is it wrong to demand features in open-source
        </p>
      </a>
      <a href="">
        <p>
          Is it wrong to demand features in open-source
        </p>
      </a>
      <a href="">
        <p>
          Is it wrong to demand features in open-source
        </p>
      </a>
      <a href="">
        <p>
          Is it wrong to demand features in open-source
        </p>
      </a>
    </div>
  </div>