{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
    $(function () {
      // Sign up button
      $("#signup-btn").modalForm({
          formURL: "{% url 'accounts:accounts_register' %}"
      });
    });
  </script>

    <script>
        $(function () {
        // Log in button
        $("#login-btn").modalForm({
            formURL: "{% url 'accounts:login' %}"
        });
        $('#login-btn').click(function(){
          var send_url = $(this).attr('data-url');
          var login_url = $(this).attr('login-url');
          console.log(login_url);
        });

        $.ajax({
          type: 'GET',
          url:login_url,
          data:{
            'send_url':send_url,
          }
        });
        });
  </script>

<script>
  $(function () {
  // Log in button
  $("#ask-qn").modalForm({
      formURL: "{% url 'accounts:login' %}"
  });
  });
</script>

<script>
  //Upvoting Question
  $(".upvote-click").on('click',function(){
    var questionId=$(this).data('question');
    var voteUrl = $(this).attr('upvote-url');

    //Ajax
    $.ajax({
      url:voteUrl,
      type: 'POST',
      data:{
        questionId:questionId,
        csrfmiddlewaretoken:"{{csrf_token}}"
      },
      dataType:'json',
      success:function(res){
          var _prevupvote=$(".upvote-count-"+questionId).text();
          if(res.bool==true){
              $(".upvote-count-"+questionId).text(parseInt(_prevupvote)+1);              
          }
      }
    })
  });
  </script>

