{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock %}

{% block content %}
 <div class="container mt-5">
     <div class="row">
         <h3>Change Password</h3>
         <div class="col-md-5 col-offset-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>
                
                <button class="btn btn-primary mt-3" type="submit">Save changes</button>
              </form>
         </div>
     </div>
 </div>

{% endblock %}