{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <form method="POST" class="col-md-6 offset-md-3 card">
    {% csrf_token %}
    <div class="card-body">
      <h2 class="mb-5 text-center">Sign Up</h2>

      {% if form.is_bound %}
        {% if form.errors %}
          {% if form.email.errors %}
            <div class="form-floating mb-3">
              <input type="email" name="email" value="{{ form.email.value }}" class="form-control is-invalid" id="{{ form.email.id_for_label }}" placeholder="name@example.com">
              <label for="{{ form.email.id_for_label }}">
                {{ form.email.label }}
              </label>
              {% for error in form.email.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="form-floating mb-3">
              <input type="email" name="email" value="{{ form.email.value }}" class="form-control is-valid" id="{{ form.email.id_for_label }}" placeholder="name@example.com">
              <label for="{{ form.email.id_for_label }}">
                {{ form.email.label }}
              </label>
            </div>
          {% endif %}

          {% if form.password1.errors %}
            <div class="form-floating mb-3">
              <input type="password" name="password1" value="{{ form.password1.value }}" class="form-control is-invalid" id="{{ form.password1.id_for_label }}" placeholder="name@example.com">
              <label for="{{ form.password1.id_for_label }}">
                {{ form.password1.label }}
              </label>
              {% for error in form.password1.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="form-floating mb-3">
              <input type="password" name="password1" value="{{ form.password1.value }}" class="form-control is-valid" id="{{ form.password1.id_for_label }}" placeholder="name@example.com">
              <label for="{{ form.password1.id_for_label }}">
                {{ form.password1.label }}
              </label>
            </div>
          {% endif %}

          {% if form.password2.errors %}
            <div class="form-floating mb-3">
              <input type="password" name="password2" value="{{ form.password2.value }}" class="form-control is-invalid" id="{{ form.password2.id_for_label }}" placeholder="name@example.com">
              <label for="{{ form.password1.id_for_label }}">
                {{ form.password2.label }}
              </label>
              {% for error in form.password2.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="form-floating mb-3">
              <input type="password" name="password2" value="{{ form.password1.value }}" class="form-control is-valid" id="{{ form.password2.id_for_label }}" placeholder="name@example.com">
              <label for="{{ form.password2.id_for_label }}">
                {{ form.password1.label }}
              </label>
            </div>
          {% endif %}

        {% endif %}
      {% else %}
        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="name@example.com">
          <label for="{{ form.email.id_for_label }}">
            {{ form.email.label }}
          </label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password1" class="form-control" id="{{ form.password1.id_for_label }}" placeholder="name@example.com">
          <label for="{{ form.password1.id_for_label }}">
            {{ form.password1.label }}
          </label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password2" class="form-control" id="{{ form.password2.id_for_label }}" placeholder="name@example.com">
          <label for="{{ form.password2.id_for_label }}">
            {{ form.password2.label }}
          </label>
        </div>
      {% endif %}

      <button class="btn" style="background-color: #600021; color: #fff;">Sign Up</button>
    </div>
  </form>
</div>
{% endblock content %}
