{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block messages %}

{% endblock messages %}


{% block left_sidebar %}
{% include 'includes/left_sidebar.html' %}
{% endblock left_sidebar %}

{% block center %}
<div class="container question-section">
  <div class="row">
    <h5><strong>Edit Answer</strong></h5>
    
    <form method="POST">
      {% csrf_token %}
      {{form.media}}
      {% include 'includes/answer_b5_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Save Answer</button>
    </form>
  </div>
</div>
{% endblock center %}

{% block right_sidebar %}
{% include 'includes/right_sidebar.html' %}
{% endblock right_sidebar %}
