{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row ">
    <div class="col-md-2 mt-5 pt-5 left-sidebar">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item mb-1 rounded-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mb-1">
          <a class="nav-link" href="#">Tags</a>
        </li>
        <li class="nav-item mb-1">
          <a class="nav-link" href="#">Jobs</a>
        </li>
      </ul>
    </div>
    <div class="col-md-7 content-center-div border-start border-2 border-end">
      <div class="input-group mb-3 search-bar">
        <input type="text" class="form-control  border-2 border-secondary rounded-3" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"  aria-describedby="button-addon2">
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3 style="margin-left: 3%;">All Questions</h3>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary mb-3 float-right">Ask Question</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p style="margin-left: 3%;">87409 Questions</p>
        </div>
        <div class="col-8 updates-bar">
          <ul>
            <li><button type="button" class="btn btn-outline-secondary rounded-end">Newest</button></li>
            <li><button type="button" class="btn btn-outline-secondary">Top</button></li>
            <li><button type="button" class="btn btn-outline-secondary">Views</button></li>
            <li><button type="button" class="btn btn-outline-secondary rounded-start">Oldest</button></li>
          </ul>
        </div>
      </div>
      <div class="row mt-2 border-top border-bottom border-2 home-qn-section">
        <div class="col-sm-2 home-counter">
          <div class="vote-circle rounded-circle"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
          <div class="answers-circle rounded-circle mt-3"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
        </div>
        <div class="col-sm-10">
          <a href="http://"><p>How to build 3D cube that is 50% transparent. and a small circle inside it?</p></a>
          <p class="question-paragraph">I have a code in that I am able to develop 3D cube that can be rotated by swiping. My requirement is : I want to build 3d cube with all side walls with one color and top and bottom with one color and ...</p>
          <div class="row">
            <div class="col-sm-8">
              <div class="row qn-cartegories">
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Django</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Python</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Angular</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>asked 1 min ago</p>
              <div class="row">
                <div class="col-sm-6">
                  <img src="{% static 'profile_pictures/default.jpg' %}" alt="">
                </div>
                <div class="col-sm-6">
                  <h6><a href="http://">Jaybla</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 border-top border-bottom border-2 home-qn-section">
        <div class="col-sm-2 home-counter">
          <div class="vote-circle rounded-circle"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
          <div class="answers-circle rounded-circle mt-3"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
        </div>
        <div class="col-sm-10">
          <a href="http://"><p>How to build 3D cube that is 50% transparent. and a small circle inside it?</p></a>
          <p class="question-paragraph">I have a code in that I am able to develop 3D cube that can be rotated by swiping. My requirement is : I want to build 3d cube with all side walls with one color and top and bottom with one color and ...</p>
          <div class="row">
            <div class="col-sm-8">
              <div class="row qn-cartegories">
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Django</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Python</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Angular</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>asked 1 min ago</p>
              <div class="row">
                <div class="col-sm-6">
                  <img src="{% static 'profile_pictures/default.jpg' %}" alt="">
                </div>
                <div class="col-sm-6">
                  <h6><a href="http://">Jaybla</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 border-top border-bottom border-2 home-qn-section">
        <div class="col-sm-2 home-counter">
          <div class="vote-circle rounded-circle"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
          <div class="answers-circle rounded-circle mt-3"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
        </div>
        <div class="col-sm-10">
          <a href="http://"><p>How to build 3D cube that is 50% transparent. and a small circle inside it?</p></a>
          <p class="question-paragraph">I have a code in that I am able to develop 3D cube that can be rotated by swiping. My requirement is : I want to build 3d cube with all side walls with one color and top and bottom with one color and ...</p>
          <div class="row">
            <div class="col-8">
              <div class="row qn-cartegories">
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Django</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Python</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Angular</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>asked 1 min ago</p>
              <div class="row">
                <div class="col-6">
                  <img src="{% static 'profile_pictures/default.jpg' %}" alt="">
                </div>
                <div class="col-6">
                  <h6><a href="http://">Jaybla</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 border-top border-bottom border-2 home-qn-section">
        <div class="col-sm-2 home-counter">
          <div class="vote-circle rounded-circle"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
          <div class="answers-circle rounded-circle mt-3"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
        </div>
        <div class="col-sm-10">
          <a href="http://"><p>How to build 3D cube that is 50% transparent. and a small circle inside it?</p></a>
          <p class="question-paragraph">I have a code in that I am able to develop 3D cube that can be rotated by swiping. My requirement is : I want to build 3d cube with all side walls with one color and top and bottom with one color and ...</p>
          <div class="row">
            <div class="col-8">
              <div class="row qn-cartegories">
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Django</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Python</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Angular</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>asked 1 min ago</p>
              <div class="row">
                <div class="col-6">
                  <img src="{% static 'profile_pictures/default.jpg' %}" alt="">
                </div>
                <div class="col-6">
                  <h6><a href="http://">Jaybla</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 border-top border-bottom border-2 home-qn-section">
        <div class="col-sm-2 home-counter">
          <div class="vote-circle rounded-circle"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
          <div class="answers-circle rounded-circle mt-3"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
        </div>
        <div class="col-sm-10">
          <a href="http://"><p>How to build 3D cube that is 50% transparent. and a small circle inside it?</p></a>
          <p class="question-paragraph">I have a code in that I am able to develop 3D cube that can be rotated by swiping. My requirement is : I want to build 3d cube with all side walls with one color and top and bottom with one color and ...</p>
          <div class="row">
            <div class="col-8">
              <div class="row qn-cartegories">
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Django</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Python</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Angular</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>asked 1 min ago</p>
              <div class="row">
                <div class="col-6">
                  <img src="{% static 'profile_pictures/default.jpg' %}" alt="">
                </div>
                <div class="col-6">
                  <h6><a href="http://">Jaybla</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 border-top border-bottom border-2 home-qn-section">
        <div class="col-sm-2 home-counter">
          <div class="vote-circle rounded-circle"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
          <div class="answers-circle rounded-circle mt-3"><strong>4</strong></div>
          <div class="mt-2"><p> Votes</p></div>
        </div>
        <div class="col-sm-10">
          <a href="http://"><p>How to build 3D cube that is 50% transparent. and a small circle inside it?</p></a>
          <p class="question-paragraph">I have a code in that I am able to develop 3D cube that can be rotated by swiping. My requirement is : I want to build 3d cube with all side walls with one color and top and bottom with one color and ...</p>
          <div class="row">
            <div class="col-sm-8">
              <div class="row qn-cartegories">
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Django</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Python</p>
                </div>
                <div class="col-3">
                  <p class="rounded" style="background-color: #E6E7E8;padding-left: 4%; padding-right:4%;">#Angular</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>asked 1 min ago</p>
              <div class="row">
                <div class="col-sm-6">
                  <img src="{% static 'profile_pictures/default.jpg' %}" alt="">
                </div>
                <div class="col-sm-6">
                  <h6><a href="http://">Jaybla</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 content-right-div">
      <div class="logged-user">
        <h3>Logged In User</h3>
      </div>

      <div class="card rounded-top rounded-3 mb-5" style="width: 18rem;margin-left: 3%;">
        <img src="{% static 'profile_pictures/default.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Username</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Change Password</a>
        </div>
      </div>
      <h4>Hot Network Questions</h4>
      <div class="hot-questions-section" style="display: inline-block;">
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
        <p><a href="http://">Is it wrong to demand features in open-source projects?</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
