{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-2 left-sidebar">
      <div class="col-12">
        kushoto
      </div>
    </div>
    <div class="col-md-7">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Q&A" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
      <p>
        KATI
      </p>
    </div>
    <div class="col-md-3">
      kulia
    </div>
  </div>
</div>
{% endblock %}